:root {
  --cor1: #010409;
  --cor2: #fbfcfd;
  --cor3: #040912;
}

body {
width: 100vw;
height: 100vh;
margin: 0;

background-color: #010409;
color: #fbfcfd;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.corpo {
  width: 35%;
  height: 45%;

  background-color: #040912;
  border-radius: 3px;
  padding: 3px;
  
}

